<div>
    <div fxLayout="row" class="heading">
      <div  fxFlex>
        <h1>
          Contact</h1>
        <div class="normal-p">

  <p> Feel free to contact me at your earliest convenient</p>

  <br/>
  

  <details>
    <summary>
     Warning</summary>
    <p> <img src="/assets/warning.png">
      <br/>I will not speak with any scammers/spam callers. </p>
  </details>

  <br/>
  <br/>
        </div>
      </div>
    </div>
  <!-- Create the layout for the contact info. -->
    <div fxLayout="row" style="padding-bottom: 5%">
  
 
      <!-- Layout for the Phone Number Column -->
      <div fxFlex>
        <mat-card class="mat-elevation-z0 mat-card-color">
          <mat-card-title class="card-title-icon">
            <mat-icon color="primary" inline=true>contact_phone</mat-icon>
            <mat-card-subtitle>Social Media:</mat-card-subtitle>
          </mat-card-title>
          <br />
  
          <mat-card-content class="align-center">
          
              
              <br/>
              <br/>
              <mat-card-subtitle class="card-title-icon"> 
              <a href="https://www.linkedin.com/in/joann-saeou-6b82b0197/">
              <img src="/assets/linkedin.png"></a>
<p> Linkedin</p>
            </mat-card-subtitle>

<mat-card-subtitle> 
                <p>  
              <a href="https://www.instagram.com/tingybuu/" >  <img src="/assets/instagram.png"></a>
            </p><p>Instagram</p>
        </mat-card-subtitle>

   
          
          </mat-card-content>
        </mat-card>
      </div>
      <!-- Layout for the eMail Address Column -->
      <div fxFlex>
        <mat-card class="mat-elevation-z0 mat-card-color">
          <mat-card-title class="card-title-icon">
            <mat-icon color="primary" inline=true>email</mat-icon>
            <mat-card-subtitle> email </mat-card-subtitle>
          </mat-card-title>
          <br />
  
          <mat-card-content class="align-center" >
         
            <br/>
            <br/>
            <br/>
          
            <br/>
            
            <br/>
                <p>
                    <a href="mailto: joannssaeou@gmail.com"> 
                        <img border="0px" float="top" alt="email" src="assets/gmail.png" width="150" height="100">  </a>
                        <br/>gmail
                </p>


           
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
