<div fxLayout="row-wrap" class="layout">

    <div fxFlex>

        <div fxLayout="column">

            <div class="image">
                <img src="../../assets/joannphoto.jpg" height="480" width="370px" />
            </div>

            <div class="link">
                <em>
         <a class="attribution-link" href="https://imgur.com/a/jA7msSQ"  target="blank"></a>
      </em>

            </div>
        </div>
    </div>
    <div fxFlex class="info">
        <h1 class="blue">Who is Joann Saeou?</h1>
        <p class="about" style="line-height: 25px;">
            She is a woman who has been inspired and passionate with the healthcare environment and computer technology. At the year 2019 of the Fall season, she has decided started to pursue her career as a web development with Bellevue University. She has also
            realized that building web pages can be fun and entertaining. But, she also realized that learning the essential skills as a web development can be challenging. Joann loves building web pages and as well as code for the healthcare field as
            a Medical Billing and Coding. Joann has an entry-level experience as a full Stack Web Development, with a focus in the MEAN stack fundamental.
            <br/>
            <br/> After she completes the curriculum requirements for her online degree at Bellevue University, she will plan on pursuing her education career goal of BS in Game Programming & development and from there she will learn the popular computer
            programming languages known as the: C++, C#, and Java.

            </p>



        
    </div>
</div>


