<div fxLayout="column" class="main-welcome">
    <h1 class="title">
        Welcome to my personal portfolio


    </h1>


    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>

            <mat-panel-description>
                Aspiring/passionate Full-Stack Developer that loves combining healthcare with computer technology
            </mat-panel-description>
        </mat-expansion-panel-header>

    </mat-expansion-panel>


    <br/>
    <br/>
    
    <br/>
    <br/>
    
    <br/>
    <br/>
    
    <br/>
    <br/>   
    
    <br/>
    <br/>
    
    <br/>
    <br/>

    <div fxFlex="row" class="background">
        <mat-card-title> Here are my web development project </mat-card-title>



        <mat-card class="mat-elevation-z0">
            <mat-tab-group [selectedIndex]="2">
                <mat-tab label="HTML/CSS">

                    <ul class="list-group">
                        <h3 color="accent"> Biosite</h3>

                        <li class="list-group-item active" color="primary"></li>
                        <ul>
                            <li class="subtitle">
                                <a href="https://joannsaeou.github.io/biositee/">
                                    <img src="assets/biosite.png" alt="biosite" height="250px" width="270px"> </a>
                            </li>
                        </ul>






                    </ul>
                </mat-tab>
                <mat-tab label="Repository">
                    <h3 color="accent">Web-231: Introduction to Javascript</h3>
                    <ul>
                        <ul>
                            <li class="title" color="primary">
                                <a href="https://github.com/joannsaeou/web-231">
                                    <img src="assets/web231repo.png" alt="web231" height="250px" width="250px"> </a>
                            </li>
                        </ul>

                        <h3 color="accent">web330: JavaScript advanced </h3>
                        <ul>
                            <li class="title" color="primary">
                                <a href="https://github.com/joannsaeou/web-330">
                                    <img src="assets/web231repo.png" alt="web330" height="250px" width="250px"></a>
                            </li>
                        </ul>

                    </ul>
                </mat-tab>
                <mat-tab label="Angular">
                    <h3 color="accent">Enterprise composer app:Introduction to Angular </h3>
                    <ul>
                        <ul>
                            <li class="title" color="primary">
                                <a href="https://joannsaeou.github.io/enterprise-composer-app/composer-list">
                                    <img src="assets/enterprise.png" alt="enterprise" height="350px" width="350px"></a>
                            </li>
                        </ul>


                        <h3 color="accent"> In-N-Out-Books</h3>
                        <ul>
                            <li class="title" color="primary">
                                <a href="https://joannsaeou.github.io/in-n-out-books/">
                                    <img src="assets/in-n-out.png" alt="in-n-out-books" height="350px" width="350px"></a>
                            </li>
                        </ul>
                    </ul>
                </mat-tab>
                <mat-tab label="Collaborate">
                    <h3 color="accent">Javascript Quiz </h3>
                    <ul>
                        <ul>
                            <li class="title" color="primary">
                                <a href="https://raw.githack.com/PascalPascarella/js-trivia/master/src/index.html">
                                    <img src="assets/jsquiz.png" alt="enterprise" height="350px" width="350px"></a>
                            </li>
                        </ul>


                        <h3 color="accent"> MEAN Stack - An E2E application</h3>
                        <ul>
                            <li class="title" color="primary">
                                <a href="https://group-1-bcrs.herokuapp.com/#/">
                                    <img src="assets/bcrs.png" alt="in-n-out-books" height="350px" width="350px"></a>
                            </li>
                        </ul>
                    </ul>



                </mat-tab>

                <mat-tab label="Database">
                    <h3 color="accent">MongoDB </h3>
                    <ul>
                        <ul>
                            <li class="title" color="primary">
                                <a href="https://joannsaeou.github.io/enterprise-composer-app/composer-list">
                                    <img src="assets/enterprise.png" alt="enterprise" height="350px" width="350px"></a>
                            </li>
                        </ul>


                        <h3 color="accent"> In-N-Out-Books</h3>
                        <ul>
                            <li class="title" color="primary">
                                <a href="https://joannsaeou.github.io/in-n-out-books/">
                                    <img src="assets/in-n-out.png" alt="in-n-out-books" height="350px" width="350px"></a>
                            </li>
                        </ul>
                    </ul>



                </mat-tab>
            </mat-tab-group>
        </mat-card>




    </div>
    <!-- end of mat-tab -->




</div>
