<div class="row">

    <div class="col-sm-12">

        <ul class="list-group">

            <li class="list-group-item">

                <p> ID:</p><span> {{ person.personId }}</span>


            </li>
            <li class="list-group-item">

               <p>Full Name:</p><span>{{ person.fullName }}</span>


            </li>
            <li class="list-group-item">

               <p>email:</p> <span>  {{ person.email }}</span>


            </li>




        </ul>

        <br/>

        <a routerLink="/about" class="float-right"> Return to about</a>



    </div>



</div>