<div fxLayout="column" class="page-container">

    <!-- main  navigation -->
    <nav fxFlex>
        <mat-toolbar class="toolbar" color="accent">
            <mat-toolbar-row>
                <!-- navbar container -->
                <div class="navbar-container">
                    <div fxLayout="row">
                        <div class="nav nav-pills nav-justified">
                            <button class="navbar-link" routerLink="/" mat-button style="margin-top: 6px;">Home</button>
                            <button class="navbar-link" routerLink="/about" mat-button>About Me</button>
                            <button class="navbar-link" routerLink="/contact" mat-button>Contact</button>


                        </div>
                        <!-- end of 1st navigation panel  for home about contact-->

                        <!-- 2nd nav bar -->
                        <div fxLayout="row-reverse" width="250px">

                            <div class="nav nav-pills nav-justified">

                                <button class="navbar-link" routerLink="/diagrams">Presentations</button>
                                <button class="navbar-link" routerLink="/data-structure">Data-Structure</button>

                            </div>

                            <!-- logo -->

                            <div>
                                <button mat-button class="logo" style="padding-left: 220px;">
                <img src="./assets/bobsLogo.png" />
                <h2 class="center-name">Joann Saeou's Personal Portfolio</h2>
              </button>
                            </div>
                            <!-- end of logo -->

                        </div> <!-- 2nd nav bar closing tag-->
                    </div>
                </div>

            </mat-toolbar-row>
        </mat-toolbar>
    </nav> <!-- main navigation closing tag-->

    <!-- second navigation panel here-->




    <!-- main content -->
    <div fxFlex>
        <main class="main-content" fxFlex="100%;">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
