<div fxLayout="column" class="page-container icon-vespa">


    <!--Header -->
    <div class="header">
        <!-- <img src="" height="70px" width="700px"> -->
        <h1>Personal Portfolio  </h1>
        <p> Full Stack Developer</p>
      </div>

    <!-- main  navigation -->
    <nav fxFlex>
        <mat-toolbar class="toolbar" color="accent">
            <mat-toolbar-row>
                <!-- navbar container -->
                <div class="navbar-container">
                    <div fxLayout="row">
                        <div class="nav nav-pills nav-justified">
                            <button class="navbar-link" routerLink="/" mat-button style="margin-top: 6px;"> <img src="/assets/home.png"> </button> &nbsp;
                            <button class="navbar-link" routerLink="/about" mat-button> <img src="/assets/book.png"></button> &nbsp;
                            <button class="navbar-link" routerLink="/contact" mat-button><img src="/assets/mail.png"></button> 
                            <button class="logo" mat-button>logo here </button>

                        </div>
                        <!-- end of 1st navigation panel  for home about contact-->

                        <!-- 2nd nav bar -->
                        <!-- <div fxLayout="row-reverse" width="250px">

                            <div class="nav nav-pills nav-justified">

                                <button class="navbar-link" routerLink="/diagrams">Presentations</button>
                                <button class="navbar-link" routerLink="/data-structure">Data-Structure</button>

                            </div> -->

                            <!-- logo -->








                        </div> <!-- 2nd nav bar closing tag-->
                    </div>
              

            </mat-toolbar-row>
        </mat-toolbar>
    </nav> <!-- main navigation closing tag-->

    <!-- second navigation panel here-->

    <div fxLayout class="footer"> 

        <mat-toolbar-row> 

    <footer>
  <p>Made with <strong>♥</strong> by Joann Saeou © portfolio. All rights reserved.<br> </p>
</footer>

</mat-toolbar-row>
</div>




<!--  main content -->
    <div fxFlex>
        <main class="main-content" fxFlex="100%;">
            <router-outlet></router-outlet>
        </main>
    </div>

